pydantic-settings
aiogram
asyncio
aiohttp
pandas
numpy
sentence-transformers
pinecone-client
beautifulsoup4
requests
reportlab
openai
protobuf
googleapis-common-protos
protoc-gen-openapiv2
grpcio
openpyxl
langchain
langchain-anthropic
langchain-cohere
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
reportlab
SQLAlchemy
bcrypt
sentence-transformers
xhtml2pdf
psycopg2
psycopg2-binary
unstructured                             






